In [49]:
import pandas as pd

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [21]:
rating_data = pd.read_csv('ratings.csv')
rating_data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [50]:
rating_5 = rating_data[rating_data['rating']== 5.0]
rating_5[['movieId','userId']].groupby('movieId').count().sort_values('userId', ascending=False).head(1)

         userId
movieId
318         153

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [51]:
info = pd.read_csv('power.csv')
info.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [52]:
consumption = info[((info['country'] == 'Lithuania') | (info['country'] == 'Latvia') | (info['country'] == 'Estonia')) & ((info['category'] == 4) | (info['category'] == 12) | (info['category'] == 21)) & ((info['year'] >= 2005) & (info['year'] <= 2010))]
consumption['quantity'].sum()

240481.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [53]:
my_page = 'https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC'
my_data = pd.read_html(my_page)
my_data

[                                                  Date  \
 0                                         Mar 26, 2020
 1                                         Mar 25, 2020
 2                                         Mar 24, 2020
 3                                         Mar 23, 2020
 4                                         Mar 20, 2020
 ..                                                 ...
 96                                        Nov 06, 2019
 97                                        Nov 05, 2019
 98                                        Nov 04, 2019
 99                                        Nov 01, 2019
 100  *Close price adjusted for splits.**Adjusted cl...

                                                   Open  \
 0                                              2501.29
 1                                              2457.77
 2                                              2344.44
 3                                              2290.71
 4                                              2431.94
 ..                                                 ...
 96                                             3075.10
 97                                             3080.80
 98                                             3078.96
 99                                             3050.72
 100  *Close price adjusted for splits.**Adjusted cl...

                                                   High  \
 0                                              2601.78
 1                                              2571.42
 2                                              2449.71
 3                                              2300.73
 4                                              2453.01
 ..                                                 ...
 96                                             3078.34
 97                                             3083.95
 98                                             3085.20
 99                                             3066.95
 100  *Close price adjusted for splits.**Adjusted cl...

                                                    Low  \
 0                                              2500.72
 1                                              2407.53
 2                                              2344.44
 3                                              2191.86
 4                                              2295.56
 ..                                                 ...
 96                                             3065.89
 97                                             3072.15
 98                                             3074.87
 99                                             3050.72
 100  *Close price adjusted for splits.**Adjusted cl...

                                                 Close*  \
 0                                              2576.83
 1                                              2475.56
 2                                              2447.33
 3                                              2237.40
 4                                              2304.92
 ..                                                 ...
 96                                             3076.78
 97                                             3074.62
 98                                             3078.27
 99                                             3066.91
 100  *Close price adjusted for splits.**Adjusted cl...

                                            Adj Close**  \
 0                                              2576.83
 1                                              2475.56
 2                                              2447.33
 3                                              2237.40
 4                                              2304.92
 ..                                                 ...
 96                                             3076.78
 97                                             3074.62
 98                                             3078.27
 99                                             3066.91
 100  *Close price adjusted for splits.**Adjusted cl...

                                                 Volume
 0                                           2597798583
 1                                           8285670000
 2                                           7547350000
 3                                           7402180000
 4                                           9044690000
 ..                                                 ...
 96                                          4458190000
 97                                          4486130000
 98                                          4146850000
 99                                          3930200000
 100  *Close price adjusted for splits.**Adjusted cl...

 [101 rows x 7 columns]]